body{
    margin: 20px;
}
header {
    height: 150px;
}
header img{
    margin-top: -5px;
}
.text{
    font-family: 'MV Boli';
    color: blueviolet;
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
}
img{
    border-radius: 50%;
    float:left;
    padding-top: 40px;
}
.container p{
    font-family: Comic Sans MS;
    text-align: center;
}
@media only screen and (max-width:1100px) {
    body{
        text-align: center;
    }
}
@media only screen and (max-width:720px) {
    body{
        background-color: cadetblue;
    }
    li{
        font-size: 10px;
    }
    header{
        height: 100px;
    }
    header img{
        width: 40%;
        height: 30%;
        padding-top: 50px;
    }
    nav{
        padding-top: 90px;

    }
    img{
        float: none;
    }
    .text{
        font-size: 15px;
    }
    .container p{
        font-size: 10px;
    }
    img{
        width: 200px;
        height: 200px;
    }
}