*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
 
}
body{
    min-height: 100px;
}
li{
    list-style: none;
    color: white;
}
h1{
    color: white;
}
.side-menu{
    position: fixed;
    background: palevioletred;
    width: 200px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
}
.side-menu .Brands{
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-menu li{
    font-size: 24px;
    padding: 10px 40px;
    display: flex;
    align-items: center;
}
.side-menu li:hover{
    background: white;
    color: palevioletred ;
}
img{
    height: 20px;
    width: 20px;
    background: transparent;
}