
nav ul li {
	display: table-cell;
	width: 15%;
	text-align: center;
	margin-right: 2%;
	border-collapse: collapse;
}
nav ul li a {
	margin-bottom: 0;
    text-decoration: none;
}
nav {
	display: table;
	width: 50%;
	margin: 0 auto;
	float: right;
    padding-top: 130px;
}
nav ul {
	display: table-row;
	margin: 0;
}
li:hover{
    background-color: grey;
}
header{
    background-image: url(R.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header img {
	float: none;
	margin: 2% 2% 0% 0%;
    height: 120px;
    width: 325px;
}
footer {
    background-color: hsla(39, 81%, 49%, 0.7);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7em;
}

footer {
    display:block;
    background-color: pink;
    position: relative;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7em;
    text-align: center;
    font-size: 0.7em;
    border-top: 2px solid #f3f7f3;
    padding-top: 10px;
    padding-bottom: 20px;
}
@media only screen and (max-width:720px) {
    footer{
        font-size: 8px;
    }
}