body{
    background-color: rgb(252, 169, 139);
    text-align: center;
}
.text{
    text-align: center;
    font-family: 'MV Boli';
    border-radius: 20px;
    margin: auto;
    width: 60%;
    border: 2px solid;
    padding: 10px;
    font-size:xx-large;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.back{
    text-decoration: none;
    font-size: larger;
    color:rgb(112, 83, 159);
}
.back:hover{
    color: blue;
    text-decoration: underline;
}
@media only screen and (max-width:720px) {
    body{
        background-color: rgb(237, 158, 198);
    }
    .text{
        color: rgb(212, 19, 19);
        font-size: medium;
      }
}