body{
    background-image: url(blur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
form{  
    font-family: 'Arial'; 
    margin-right: 400px;
    margin-left: 400px;
    border: solid 2px;
    background-color:hsla(199, 64%, 64%, 0.729);
} 
.registerbtn{
	color: white;
	background-color: #04AA6D;
}
.contain{
	padding-left: 15px;
    text-align: left;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

@media only screen and (max-width: 1100px) {
    form{
        margin-left:250px;
        margin-right: 250px;
    }

}
@media only screen and (max-width:720px) {
    form{
        margin: 40px;
    }
    h1{
        font-size: 20px;
    }
    label{
        font-size: 10px;
    }
    .registerbtn{
        font-size: 10px;
    }
    input[type=text],textarea{
        font-size: 10px;
    }
}