body{
  margin: 20px;
  text-align: center;
  background-image: url(plus.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
header img{
  margin-left: -250px;
}
.text{
  text-align: center;
  background-color: transparent;
  font-family: 'MV Boli';
  border-radius: 20px;
  margin: auto;
  width: 60%;
  border: 2px solid;
  padding: 10px;
  font-size:xx-large;
}
.grid-container{
  display: grid;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.nested-grid-container{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 20%;
}
.item{
  padding: 3px;
  border: 1px solid;
  border-radius: 2px;
  margin: 10px;
}
.item  p{
  color: rgb(7, 2, 32);
  background-color: rgb(198, 198, 199);
  border-radius: 10px;
  margin-top: 0px;
}
img{
  height: 250px;
  width: 250px;
}

button {
  color: aqua;
  padding: 10px 24px;
  border: 2px solid aqua;
  border-radius: 8px;
}
button:hover {
  background-color: aqua;
  color: white;
}
@media only screen and (max-width:1100px) {
  .text{
    color:hotpink;
  }
  nav{
    padding-top: 127px;
  }
  img{
    width:200px;
    height:200px;
  }
}
@media only screen and (max-width:720px){
  .text{
    color: rgb(212, 19, 19);
    font-size: medium;
  }
  header img{
    width: 30%;
    padding-left: 40%;
    height: 70px;
  }
  nav{
    padding-top: 72px;
  }
  li{
    font-size: 10px;
  }
  button{
    font-size: 10px;
  }
  img{
    width:150px;
    height:150px;
  }
}