body{
    text-align: center;
}
header img{
    margin-left: -250px;
}
h1{
    color: blueviolet;
    font-family: MV Boli;
}
.item a{
    text-decoration: none;
    color: black;
}
.item a:hover{
    color: blue;
}
.nested-grid-container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: repeat(autofit, minmax(150px, 1fr));
}
.item{
    padding: 3px;
    border: 1px solid;
    border-radius: 2px;
    margin: 20px;
}
.item  p{
    color: rgb(7, 2, 32);
    background-color: rgb(198, 198, 199);
    border-radius: 10px;
    margin-top: 0px;
}
img{
    height: 230px;
    width: 230px;
}
@media only screen and (max-width:1100px) {
    img{
        height: 200px;
        width: 200px;
    }
}
@media only screen and (max-width:800px) {
    img{
        height: 150px;
        width: 150px;
    }
}
@media only screen and (max-width:720px) {
    body{
        text-align: center;
    }
    li{
        font-size: 10px;
    }
    h1{
        font-size: 15px;
    }
    nav{
        padding-top: 65px;
    }
    header img{
        padding-left: 45%;
        width: 30%;
        height: 25%;
        padding-bottom: 20px;
    }
    img{
        width: 100px;
        height: 100px;
    }
    .item{
        font-size: 10px;
    }
}