body{
  background-color: rgb(178, 174, 174);
}
i{
  border: 2px solid aqua;
  border-radius: 30%;
  background-color: aqua;
}
.left img{
  width: 250px;
  height: 200px;
  margin-right: 50px;
  float: left;
  border-radius: 50%;
}
.left a{
  font-size: 10px;
  text-align: justify;
  text-decoration: none;
  color: black;
}
.left a:hover{
    color: blue;
}
.left p{
  text-align: justify;
}


.right img{
    width: 250px;
    height: 200px;
    margin-left: 50px;
    float: right;
    border-radius: 50%;
}
.right a{
    font-size: 10px;
    text-align: justify;
    text-decoration: none;
    color: black;
}
.right a:hover{
    color: blue;
}
.right p{
    text-align: justify;
}
@media only screen and (max-width:1100px) {
 
  nav{
    padding-top: 125px;
  }
  
}
@media only screen and (max-width:720px){
  body{
    background-color: aquamarine;
  }
  header a img{
    width: 200px;
    height: 100px;
  }
  nav{
      padding-top: 0;
      position: relative;
      bottom: 30px;
  }
}
@media only screen and (max-width:530px){
  body{
    background: rgb(232, 162, 130);
  }
  li{
    font-size: 10px;
  }
  h1{
    font-size: 15px;
  }
  i{
    font-size: 10px;
  }
  nav{
    padding-top: 0;
    position: relative;
    bottom: 52px;
  }
  .left img, .right img{
    width: 200px;
    height: 150px;
  }
  header a img{
    width: 100px;
    height: 75px;
  }
} 