html {
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
body{  
    font-family: 'Arial'; 
    margin-right: 400px;
    margin-left: 400px;
    border: solid 2px;
    background-color:hsla(199, 64%, 64%, 0.729);
}  
.login{  
        width: auto;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px; 
        border-radius: 15px ;          
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 312px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    background-color: blue; 
    color: white;
    cursor: pointer;
}  
span{  
    color: white;  
    font-size: 17px;  
}  
.link{
    float: right;
    text-decoration: none;
    color: aliceblue;
}  
.link:hover{
    color: blue;
    text-decoration: underline;
}

img{
    opacity: 0.5;
    
}
.back{
    text-decoration: none;
}
.back:hover{
    color: rgb(44, 44, 247);
    text-decoration: underline;
}
img{
    display: block;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
@media only screen and (max-width: 1100px) {
    body{
        margin-left: 250px;
        margin-right: 250px;
    }
    #log, #Uname, #Pass{
        width: 100%;
    }
    span, .link, #log, .back{
        font-size: 10px;
    }
    .link{
        float: right;
        margin-top: 5px;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width:720px) {
    body{
        margin: 50px;
    }
}