
body{
  margin: 20px;
  text-align: center;
  background-color: aqua;
}
header img{
  margin-left: -250px;
}
img{
  width: 350px;
  height: 250px;
  margin-right: 40px;
  float: left;
  padding-left: 10px;
}
h1{
  font-size: 55px;
}
.container p{
  text-align: justify;
  font-family: Comic Sans MS;
  margin: 5px;
}


.contain p{
  margin: 5px;
  text-align: justify;
  font-family: Comic Sans MS;
}
.contain img{
  width: 400px;
  height: 300px;
  float: right;
}
#cdc{
  width: 400px;
  height: 250px;
  margin-right: 40px;
  float: left;
  padding-left: 10px;
}


h2{
  font-size: 20px;
}
.column1 {
  margin: 5px;
  float: left;
  width: 45%;
  text-align: left;
  font-family:Comic Sans MS;
}
.column2 {
  float: right;
  width: 50%;
  text-align: left;
  font-family: Comic Sans MS;
}

.row:after {
content: "";
display: table;
clear: both;
}
@media only screen and (max-width:1100px) {
  body{
    background-color:burlywood;
  }
  header img{
    padding-left: 10%;
  }
  nav{
    padding-top: 126px;
  }
}

@media only screen and (max-width:720px) {
  body{
    background-color: grey;
  }
  h1{
    font-size: 20px;
  }
  h2{
    font-size: 15px;
  }
  img{
    float: none;
  }
  header img{
    width: 30%;
    padding-left: 40%;
    height: 70px;
  }
  nav{
    padding-top: 72px;
  }
  li{
    font-size: 10px;
  }
  img, .contain img, #cdc{
    width: 200px;
    height: 200px;
  }
  .container p, .contain p, .column1, .column2{
    font-size: 10px;
  }
  #cdc{
    margin-right:20px;
    padding-left: 0;
  }
  .contain img{
    margin-right: 10px;
  }
}